body {
  background-color: aqua;
}

nav {
  background-color: #333;
  overflow: hidden;
}

nav img {
  float: left;
  width: 350px;
  height: 40px;
}

nav div {
  float: right;
}

nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: #111;
}
